@use '../../styles/utils/' as *;

.dropdown {
	display: flex;
	// display: none;
	flex-direction: column;
	min-width: 15rem;
	position: absolute;
	background: var(--blue-base);
	border: 1px solid var(--blue-border);
	border-radius: 0.4em;
	overflow: hidden;
	transform: translate(-75%, 5%);
	transition: height 0.25s ease-in-out, scale 0.25s ease-in-out;
	z-index: 10;
	overflow-y: auto;
	// scale: 0;

	max-height: 19rem;
	@include media('md') {
		overflow-y: hidden;
		max-height: auto;
		display: flex;
	}

	// &.active {
	// 	scale: 0;
	// 	@include media('md') {
	// 		display: flex;
	// 		scale: 1;
	// 	}
	// }
}

.dropdown-item {
	display: flex;
	align-items: center;

	padding: 1rem 1.2rem;
	width: 100%;

	font-size: var(--fz-15);
	line-height: var(--lh-15);

	&:hover {
		background-color: toBaseColor("black", 0.2);
	}

	@include media('md') {
		font-size: var(--fz-16);
		line-height: var(--lh-16);
	}
	@include media('lg') {
		font-size: var(--fz-17);
		line-height: var(--lh-17);
	}
}

.icon-left,
.icon-right {
	display: flex;
	align-items: center;
	cursor: pointer;

	& *,
	& *  path {
		cursor: pointer;
	}
}

.icon-left {
	margin-right: .6rem;
}
.icon-right {
	margin-left: auto;
}

.menu {
	width: 100%;
}

.menu-primary {

	&-enter {
		position: absolute;
		transform: translateX(-110%);

		&-active {
			transform: translateX(0%);
			transition: transform .15s ease;
		}
	}
	&-exit {
		position: absolute;

		&-active {
			transform: translateX(-110%);
			transition: transform .15s ease;
		}
	}
}

.menu-secondary {

	&-enter {
		transform: translateX(110%);

		&-active {
			transform: translateX(0%);
			transition: transform .15s ease;
		}
	}
	&-exit {

		&-active {
			transform: translateX(110%);
			transition: transform .15s ease;
		}
	}
}