// @use "../globals/vars" as *;
@use '../utils/' as *;

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.m-r-0 {
	margin-right: 0;
}

.m-l-0 {
	margin-left: 0;
}

.m-r-auto {
	margin-right: auto;
}

.m-l-auto {
	margin-left: auto;
}

.grid-row-1 {
	grid-row: 1/2;
}

.grid-row-2 {
	grid-row: 2/3;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		z-index: 100;

    background-color: toBaseColor("black", 0.65);
}

.www {
	z-index: 100;
	padding: 2rem;
	background-color: var(--vintage-dop);
	color: var(--black-text);
	border: 1px solid var(--vintage-border);
	border-radius: .7rem;
}