@use '../../styles/utils/' as *;

.auth-form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

	gap: 2.5rem;
	padding-bottom: 3rem;
}

.auth-form__field {
	display: flex;
	flex-direction: column-reverse;
	flex: 1 1 0;
	align-self: flex-start;
}

.auth-form__label {
	width: fit-content;
	padding-bottom: 1.2rem;

	color: var(--white-text);
	transition: color 0.15s ease-in;
}

.auth-form__input {
	padding: 0.4em 0.6em;
	border-radius: 0.2em;
	border-color: var(--white-border);
	color: var(--white-text);

	transition: border-color 0.15s ease-in, color 0.15s ease-in,
		box-shadow 0.15s ease-in;

	&:hover {
		box-shadow: 1px 1px 4px 0.1rem var(--white-shadow);
	}

	&:focus {
		border-color: var(--blue-milk-border);
		color: var(--blue-milk-text);
		box-shadow: 1px 1px 4px 0.1rem var(--blue-milk-shadow);
	}
	&:focus ~ label {
		color: var(--blue-milk-text);
	}
}

.auth-form__submit {
	color: var(--blue-milk-text);
	border-color: var(--blue-milk-border);

	&:focus {
		box-shadow: 1px 1px 4px 0.1rem var(--blue-milk-shadow);
		background-color: toBaseColor('extraordinary-dark', 0.9);
	}
	&:hover {
		box-shadow: 1px 1px 4px 0.1rem var(--white-shadow);
	}
}

.auth-form__error {
	font-size: var(--fz-15);
	line-height: var(--lh-15);
	margin-top: 1rem;

	color: var(--red-dop);
}
