@use './utils/' as *;
@use './layouts/' as *;
@use './globals/' as *;
@use './helpers/' as *;

.main {
	display: grid;
	align-items: center;
	justify-items: center;
	
	width: 100%;
	grid-template-columns: minmax(250px, 1fr);
	gap: 4rem;
}

#root {
	display: flex;
	flex-direction: column;

	& > * + * {
		margin-top: 3rem;
	}
}

.logo {
	border: 1px solid var(--gray-border);
	border-radius: .4em;
	padding: .4em .8em;

	display: flex;
	align-items: center;
	gap: .6rem;

	width: fit-content;
	transition: all .15s ease-in;

	&:hover {
		background-color: var(--black-bg);
		border-color: var(--orange-border);
    box-shadow: 2px 4px 15px 0px var(--blue-shadow);

		& span {
			color: var(--red-text);
		}
		& svg {
			fill: var(--red-text);
		}
	}

	&-brand {
		font-size: var(--fz-18);
		line-height: var(--lh-18);

		color: var(--orange-text);
		transition: color .15s ease-in;
	}
	&-img {
		transition: fill .15s ease-in;
	}
}