@use "globals" as *;
@use "layouts" as *;
@use "helpers" as *;

.main {
	display: grid;
	align-items: center;
	justify-items: center;
	
	width: 100%;
	grid-template-columns: minmax(250px, 1fr);
	gap: 4rem;
}

#root {
	display: flex;
	flex-direction: column;

	& > * + * {
		margin-top: 3rem;
	}
}