@use '../../styles/utils/' as *;

.logo {
	border: 1px solid var(--gray-border);
	border-radius: 0.4em;
	padding: 0.4em 0.8em;

	display: flex;
	align-items: center;
	justify-content: center;
	// flex: 6;
	gap: 0.8rem;

	// max-width: 18rem;
	transition: all 0.15s ease-in;

	flex: 1 0 0;
	max-width: 5rem;

	& > span {
		display: none;
	}

	&:hover {
		background-color: toBaseColor('black', 0.85);
		border-color: var(--blue-milk-border);
		box-shadow: 2px 2px 8px 1px var(--blue-shadow);

		& span {
			color: var(--blue-base);
		}
		& svg {
			fill: var(--white-base);
		}
	}

	@include media('sm') {
		flex: 3 0 0;
		max-width: 14rem;
		padding: 0.6em;

		& span {
			display: inline;
		}
	}
	@include media('md') {
		// flex: 1 0 10%;
		max-width: 16rem;
	}
}

.logo-brand {
	font-size: var(--fz-15);
	line-height: var(--lh-15);

	color: var(--orange-text);
	transition: color 0.15s ease-in;

	@include media('md') {
		font-size: var(--fz-16);
		line-height: var(--lh-16);
	}
	@include media('d') {
		font-size: var(--fz-18);
		line-height: var(--lh-18);
	}
}

.logo-img {
	transition: fill 0.15s ease-in;
}
