.skeleton {
	width: 100%;

	&-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
		
		width: 100%;
		gap: 2rem;

		animation: skeleton 1.15s ease-in-out infinite alternate;
	}

	&-dish {
    display: flex;
    flex-direction: column;
    gap: 2rem;
	}

	&-description {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&-img {
		height: 20rem;
		border-radius: .7em;
		background-color: var(--gray-bg);
	}
	&-subtitle {
		width: 40%;
		height: 1.7rem;

		margin-left: 0rem;
		border-radius: .4em;
		background-color: var(--gray-text);
	}
	&-text {
		width: 85%;
		height: 1.5rem;

		border-radius: .4em;
		background-color: var(--gray-text);
	}

	&-circular {
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 50%;
		margin: 0 auto;
		border: .5rem solid var(--orange-bg);
		border-top: .5rem solid var(--vintage-bg);

		animation: spin 1.35s linear infinite;
	}
}

@keyframes skeleton {
	to {
		opacity: 0.5;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}