$text-color: #222;
$accent: hsla(18, 87%, 51%, 1);
$text-black: hsla(18, 80%, 6%, 1);
$text-blue: hsla(216, 85%, 48%, 1);
$text-red: rgb(245, 139, 139);

$gb: #F2EEE8;
$wh: #FFFFFF;
$dark: #383A41;
$red: #EB6D6D;
$blue: #5E7FDC;

$break: 40rem;

$white: #EDEDED;
$gray: #BFC0C0;
// $dark: #585959;
$light: #D3DEEA;
