@use '../../styles/utils/' as *;

.recipe {

	&-details {
		width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 2fr));
		gap: 5rem;

		&__info {
			width: 100%;

			& > * + * {
				margin-top: 1rem;
			}

			&--secondary {
				& h3 > span,
				& p > span {
					margin-left: .5rem;
				}
			}

			& > * span {
				color: var(--orange-text);
			}
		}

		&__title {
			color: var(--orange-text);
		}

		&__type {
			font-weight: var(--fw-400);
			font-size: var(--fz-16);
			line-height: var(--lh-16);
			// display: flex;
			// flex-wrap: wrap;
		}

		&__summary {
			margin-top: 2rem;

			& > span {
				font-size: var(--fz-22);
				line-height: var(--lh-22);
			}

			& > p {
				margin-top: .2rem;

				& > a {
					color: var(--blue-text);
					text-decoration: underline;
				}
			}
		}

		&__instructions,
		&__ingredients {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			margin-top: 2rem;

			& > div {
				width: 45%;
				padding: .4em 1.2em;

				display: flex;
				flex-direction: column;

				border: 1px solid var(--gray-border);

				background-color: var(--vintage-border);
				border-radius: .4em;
			}

			& > ol {
				display: flex;
				flex-direction: column;
				gap: 1.2rem;
			}

			& > li {
				color: var(--black-text);
				font-size: var(--fz-17);
				line-height: var(--lh-17);
			}
		}

		&__img {
			border-radius: .7em;
			--orange-h: 34;
			--orange-s: 20%;
			--orange-l: 63%;
			border: 1px solid toBaseColor("orange");
			width: 35rem;

			&--m {
				width: calc(100% - 6.5rem);
			}
		}
	}

	&-cta {
		display: flex;
		align-items: center;
		gap: 2rem;

		& > button {
			cursor: pointer;
			background-color: var(--white-dop);
			color: var(--black-text);

			border: 1px solid var(--gray-border);
			border-radius: .4em;

			padding: .4em .8em;
			transition: all .15s ease-in-out;
		}
		& > button.active {
			background-color: var(--black-text);
			color: var(--orange-text);
			border-color: var(--orange-border);
			box-shadow: 2px 4px 15px 0px var(--blue-shadow);
		}
	}
}