@use '../../styles/utils/' as *;

.search {
}

.search-input {
	width: 100%;
	border-radius: 0.4em;
	padding: 0.4em 0.6em;

	color: var(--black-text);
	background-color: var(--vintage-bg);

	transition: 
	border-color .15s ease-out,
	box-shadow .15s ease-out;

	&:focus {
		border-color: var(--orange-border);
		box-shadow: 2px 2px 8px 1px var(--blue-shadow);
	}

	@include media('xxs') {
		font-size: var(--fz-14);
		line-height: var(--lh-14);
	}
	@include media('xs') {
		font-size: var(--fz-15);
		line-height: var(--lh-15);
	}
	@include media('sm') {
		padding: 0.6em 0.8em;
	}
	@include media('md') {
		font-size: var(--fz-16);
		line-height: var(--lh-16);
	}
	@include media('lg') {
		font-size: var(--fz-17);
		line-height: var(--lh-17);
	}
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;

	// width: 24rem;
	margin: 0 auto;
	margin-top: 8rem;


	//xxs
	max-width: calc(100% - 1rem);

	@include media('xs') {
		width: 24rem;
	}
	@include media('sm') {
		width: 32rem;
	}
	@include media('md') {
		width: 37rem;
	}
}

.search-label {
	position: absolute;

	display: flex;
	right: 0.8rem;

	cursor: pointer;
	padding: 0.6rem;

	& > svg {
		width: 1.2rem;
		height: 1.2rem;
	}

	@include media('sm') {
		& > svg {
			width: 1.4rem;
			height: 1.4rem;
		}
	}
	@include media('md') {
		& > svg {
			width: 1.8rem;
			height: 1.8rem;
		}
	}
}

.search-categories {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	margin-top: 2rem;
	width: 100%;
}