@forward './_breakpoints';

.container {
	max-width: 1164px;
	padding-inline: 1.2rem;
	margin-inline: auto;
}

.grid {
	display: grid;
	justify-items: center;
	align-items: start;

	width: 100%;
	gap: 1.2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
