@forward './_breakpoints';
// @use '../utils/_mixins' as *;

.container {
	max-width: 1164px;
	padding-inline: 1.2rem;
	margin-inline: auto;
}

// .grid {
// 	display: grid;
// 	justify-items: center;
// 	align-items: start;

// 	width: 100%;
// 	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
// 	gap: 1.2rem;

// 	@include media('md') {
// 		background-color: var(--vintage-base);
// 	}
// }
