@use '../../styles/utils/' as *;

.auth {
	display: flex;
	gap: 1.2rem;
	flex: 4;
	justify-content: flex-end;
}

.auth-link {
	padding: 0.4em;
	border: 1px solid var(--orange-border);
	border-radius: 0.4em;
	background-color: toBaseColor('orange', 0.9);

	transition: box-shadow 0.15s ease-in;

	&:hover,
	&:focus-visible {
		box-shadow: 1px 1px 8px 0.2rem var(--blue-shadow);
	}
}
