@use '../../styles/utils/' as *;

.auth {
	display: flex;
	gap: 1.2rem;
	flex: 4;
	justify-content: flex-end;
}

.auth-link {
	padding: .4em;
	border: 1px solid var(--orange-border);
	border-radius: .4em;
	background-color: toBaseColor("orange", 0.9);

	transition: box-shadow .15s ease-in;

	&:hover {
		box-shadow: 1px 1px 8px .2rem var(--blue-shadow);
	}
}